label {	
    float: left;
    width: 150px;
}

#container{
    width: 700px;
    margin: auto;
    background-color: beige;
} 

main{
    padding: 50px;
}

.dynamicCheckbox {
    display: none;
}

.textReason {
    display: none;
}
table {
    width: 70rem;
    margin: auto;
    text-align: left;				
}

table, th, td { 
    border: 1px solid;
}

.table-header {
    text-align: center;
    font-size: 24px;
}

.hideTable{
    display: none;
}